@model ProyectoLibreria.Models.DataModels.Opinion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Opinion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoOpi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoOpi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comentario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Calificación)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Calificación)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaOpi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaOpi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Producto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Producto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdOpinion">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
