@model IEnumerable<ProyectoLibreria.Models.DataModels.Opinion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoOpi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comentario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calificación)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaOpi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoOpi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comentario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calificación)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaOpi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdOpinion">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdOpinion">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdOpinion">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
